:root {
  /* Сетка и Брейкпоинты */
  --bp-desktop: 1038px;
  --bp-ultra: 1380px;
  --header-h: 61px;
  --footer-h: 170px;
  --aside-w: 280px;

  /* Цвета */
  --clr-bg-font-l: #ffffff;
  --clr-bg-font-d: #738488; /*#333333;*/
  --clr-font-l: #ffffff;
  --clr-font-d: #333333;

  --clr-icon-l: #fff;

  --clr-border: #efece7; /*#004d47;*/
  --clr-hero-grad: linear-gradient(135deg, #0070f3 0%, #9b59b6 100%);
  --clr-text-main: #333333;
  --clr-text-title: #222222;
  --bg-header: #a6b6ba; /*#D0D8DA; /* #128277;*/
  --bg-aside: #e1ddd7; /*#52958b;*/
  --bg-grid: #e1ddd7; /*#52958b;*/
  --bg-main: #efece7; /*#b9c4c9;*/
  --bg-section: #efece7; /*#52958b;*/
  --bg-article: #f9f9f9; /*#52958b;*/
  --bg-footer: #a6b6ba; /* #004d47;*/

  --clr-accent-dark: #2980b9;

  --color-background-light: #f8f8f8;

  /* Отступы */
  --gap-container: 20px;
  --space-section: 30px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 40px;
}
