.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Затемнение фона */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Чтобы было поверх хедера и всего остального */
  backdrop-filter: blur(4px); /* Легкое размытие заднего плана */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}
.content {
  background-color: #fff;
  padding: 40px 20px 20px 20px;
  border-radius: 12px;
  position: relative;
  min-width: 320px;
  max-width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: modalAppear 0.3s ease-out;
}

@keyframes modalAppear {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}