/* --- БАЗОВЫЙ НАВ (Mobile First) --- */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*  */
  padding: 0 20px;
  height: 60px;
  background-color: var(--bg-header, #128277);
  /*border-bottom: 1px solid var(--clr-border, #eee);/**/
}

.logo {
  color: var(--clr-text-light, #fff);
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.burgerWrapper {
  cursor: pointer;
  z-index: 1010;
  /* Выше списка */
  display: flex;
  align-items: center;
}

/* --- ВЫПАДАЮЩЕЕ МЕНЮ (Mobile) --- */
.menuList {
  position: fixed;
  top: var(--header-h, 60px);
  /* Сразу под хедером */
  left: -100%;
  /* Скрыто слева */
  width: 100%;
  /* Не на весь экран, чтобы оставить воздух */
  /*height: calc(100vh - var(--header-h, 60px));/**/
  /* Высота экрана минус высота хедера */
  background-color: var(--bg-main, #fff);
  flex-direction: column;
  list-style: none;
  transition: left 0.3s ease-in-out;
  /*box-shadow: 10px 0 20px var(--clr-nav-menu-shadow, rgba(0,0,0,0.05));/**/
  z-index: 1009;
  display: flex;
  padding: 0 20px;
  overflow-y: auto;
  margin: 0 auto;
  align-items: center;
}

.menuOpen {
  left: 0;
  /* Выезжает */
}

.menuItem {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.link {
  text-decoration: none;
  color: var(--clr-text-light, #fff);
  font-size: 1.3rem;
  font-weight: 700;
  display: block;
  text-shadow: 2px 2px 4px var(--clr-nav-text-shadow, rgba(0, 0, 0, 0.3));
}

.overlay {
  position: fixed;
  top: var(--header-h, 61px);
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--clr-nav-overlay-bg, rgba(0, 0, 0, 0.3));
  z-index: 1008;
}

/* --- TABLET & DESKTOP (Меню в строку) --- */
@media (min-width: 768px) {
  .burgerWrapper {
    display: none;
    /* Прячем бургер */
  }

  .menuList {
    position: static;
    /* Возвращаем в поток */
    height: auto;
    width: auto;
    flex-direction: row;
    padding: 0;
    left: auto;
    box-shadow: none;
    background: transparent;
    display: flex;
  }

  .menuItem {
    margin-bottom: 0;
    margin-left: 30px;
  }

  .link {
    font-size: 0.95rem;
  }

  .overlay {
    display: none;
  }
}