/* //src/elem/buttons/button.module.css */
.baseButton {
  padding: 8px 16px;
  margin: 5px 15px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.baseButton:disabled {
  cursor: not-allowed; /* Добавляем стиль курсора для неактивной кнопки */
}

.normal {
  background-color: #f0f0f0;
  color: #333;
}

.normal:hover:not(:disabled) {
  background-color: #0070f3;
  color: #fff;
  /*background-color: #e0e0e0;*/
}

.accent {
  background-color: #0070f3;
  color: #fff;
}

.accent:hover:not(:disabled) {
  background-color: #0057c2;
}

.blocked {
  background-color: #dddddd;
  color: #888;
  /* cursor: not-allowed; Убрали, так как теперь применяется к baseButton:disabled */
}

/*iconButtons*/
.iconButton {
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: rgb(153, 17, 112);
  transition: color 0.2s;
}

.iconButton:hover {
  color: crimson;
}

.out{
  border: none;
  background-color:transparent;
  color: #007bff;

  font-weight: 700;
}
.out:hover{
  cursor: pointer;
  color: blue;

}

.iconButton {
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: rgb(153, 17, 112);
  transition: color 0.2s;
}

.iconButton:hover {
  color: crimson;
}

.out{
  border: none;
  background-color:transparent;
  color: #007bff;
  
  font-weight: 700;
}
.out:hover{
  cursor: pointer;
  color: blue;
  
}
 /* button.module.css */
:global(body.show-debug) .baseButton {
  outline: 2px solid #27ae60 !important;
  position: relative;
}

:global(body.show-debug) .baseButton::after {
  content: "BTN";
  position: absolute;
  top: -15px;
  left: 0;
  background: #27ae60;
  color: white;
  font-size: 8px;
  padding: 1px 4px;
  border-radius: 2px;
}